h1{
    font-size: 65px;
    color:rgb(202, 82, 38);
    font-family: sans-serif;
    text-align: center;
}

body{
    font-size: 16px;
    line-height: autopx;
}
p{
    font-weight: 600;
    font-size: 3em;
    font-style: oblique;
}

ul{
    text-decoration:underline;
}

#amar{
    background-color:gold;
}
#verm{
    background-color: darkred;
}
#lila{
    background-color: blueviolet;
}
#azul{
    background-color: blue;
}

/*.fundo{
    background-color: aquamarine;
}*/