body {
  font-size: 1.2em;
  margin: 0 1cm;
}

h1 {
  font-size: 1.3em;
}

img {
    max-width: 100%;
}

figure {
    margin: 0 0 25px 0;
}

@media screen and (max-width:360px) {
  body {
    background-color: rgb(230, 195, 184);
    font-size: 1.4em;
    margin: 0.8cm;
  }

  figure {
    display: inline-block;
    width: 45%;
    margin-right: 10px;
  }
}

@media screen and (min-width:1000px) {
  body {
    background-color: rgb(180, 203, 245);
  }
}

